# Xcode
#
# Original list: https://github.com/github/gitignore/blob/main/Swift.gitignore

# Build artifacts
build/
DerivedData/

# Personal settings
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserdatad
*.xcscmblueprint

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace
!*.xcodeproj/xcshareddata
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
!*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
HeaderSearchPaths/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS Finder
.DS_Store
